@font-face {
  font-family: luxury font;
  src: url(./Mileast\ Italic.otf);
}
@font-face {
    font-family: sinoreta;
    src: url(./Sinoreta_PERSONAL_USE_ONLY.otf);
}
@font-face {
    font-family:nothing dot font;
    src: url(./nothing\ dot\ font.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  color: blueviolet;
  margin: 20px;
  background-color: beige;
  border-radius: 10px;
  text-align: center;
  font-family: sinoreta;
  font-size: 50px;
  font-weight: 800px;
  font-style: normal;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  color: brown;
  
}
#shortform {
  color: black;
  font-family: nothing dot font;
  font-weight: 100px;
  background-color: cadetblue;
}
.para {
  color: blueviolet;
}
.question {
  color: brown;
  font-family: luxury font;
}
div{

    height: 25%;
    width: 25%;
    background-color: rgba(133, 126, 126, 0.844);
    font-family: nothing dot font;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}
#code{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: 15px;
}